<main>
    <section id="inicio">
        <h1>Bienvenido a la Plataforma de Gestión de Cursos</h1>
        <p>Gestiona tus cursos, mantente organizado y mejora tu productividad con nuestra plataforma intuitiva y fácil
            de usar.</p>
    </section>

    <section class="features">        
            <h2>¿Qué puedes hacer en esta plataforma?</h2>        
        <div class="feature">
            <a href="coursesScreen">
                <h3>Ver todos los cursos</h3>
                <p>Revisa la lista completa de cursos disponibles con toda la información que necesitas.</p>
            </a>
        </div>
        <div class="feature">
        <a href="add_coursesScreen">
            <h3>Añadir nuevos cursos</h3>
            <p>Registra y organiza tus propios cursos con un formulario intuitivo.</p>
        </a>
        </div>
        <div class="feature">
            <a href="contactScreen">
                <h3>Contáctanos</h3>
                <p>¿Tienes alguna duda o sugerencia? No dudes en comunicarte con nosotros.</p>
            </a>
        </div>
    </section>
</main>